<<<<<<< HEAD
.wp-block-tag-cloud {

	&.alignfull {
		padding-left: var(--global--spacing-unit);
		padding-right: var(--global--spacing-unit);
	}
}
=======
.wp-block-tag-cloud {

	&.alignfull {
		padding-left: var(--global--spacing-unit);
		padding-right: var(--global--spacing-unit);
	}
}
>>>>>>> 337fc74bea26f744696d7cc92b3fbb623fd97f1f
