<<<<<<< HEAD
.error404 main p {
	font-size: var(--global--font-size-lg);
	margin-bottom: calc(var(--global--spacing-vertical) * 1.6666666667);
}
=======
.error404 main p {
	font-size: var(--global--font-size-lg);
	margin-bottom: calc(var(--global--spacing-vertical) * 1.6666666667);
}
>>>>>>> 337fc74bea26f744696d7cc92b3fbb623fd97f1f
