<<<<<<< HEAD
pre.wp-block-preformatted {
	overflow-x: auto;
	white-space: pre !important;
	font-size: var(--global--font-size-xs);

}
=======
pre.wp-block-preformatted {
	overflow-x: auto;
	white-space: pre !important;
	font-size: var(--global--font-size-xs);

}
>>>>>>> 337fc74bea26f744696d7cc92b3fbb623fd97f1f
