<<<<<<< HEAD
.wp-block-gallery {

	figcaption {
		margin-bottom: 0;

		a {
			color: var(--global--color-white);
		}
	}
}
=======
.wp-block-gallery {

	figcaption {
		margin-bottom: 0;

		a {
			color: var(--global--color-white);
		}
	}
}
>>>>>>> 337fc74bea26f744696d7cc92b3fbb623fd97f1f
